.large-text {
  font-size: 3em;
  line-height: 1em;
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  mark {
    display: inline-block;
    --width: 0;
    --fullWidth: 0;
    --left: 0;

    &:before {
      content: '';
      position: absolute;
      margin-top: 0.1em;
      left: 0;
      width: var(--fullWidth);
      height: 0.8em;
      background-color: #fff;
      z-index: -1;
      transition: width 0.5s;
    }
  }

  strong {
    font-weight: bold;
    font-style: italic;
  }

  @media (min-width: $mobile) {
    font-size: 4em;
  }

  @media (min-width: $tablet) {
    font-size: 7.6em;

    mark:before {
      left: var(--left);
      width: var(--width);
    }
  }
}

.ayudamos {
  @media (max-width: #{$mobile - 1}) {
    .large-text {
      font-size: 2.5em;
    }
  }
}

.home-video {
  padding: var(--space) 0 calc(var(--space) * 2) 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: var(--space);
    right: 0;
    left: 50%;
    background-color: #fff;
    z-index: -1;
  }

  .container {
    max-width: 70em;
  }

  .youtube-video {
    padding-bottom: 100%;
  }
}

.video-caption {
  text-align: center;
  margin-bottom: calc(var(--space) * 2);
  padding: 0 3em;
  margin-top: var(--space);

  img {
    margin-top: 1em;
    max-width: 100%;
    width: 18em;
  }

  @media (min-width: $tablet) {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-top: 0;
    padding: 0 var(--space);
    box-sizing: border-box;

    img {
      width: 36em;
    }
  }
}

.blocks {
  margin-top: calc(var(--space) * 2);

  .block {
    margin: 0;
    background-color: #fff;
    padding: var(--space);
    margin-bottom: var(--space);

    &:first-child {
      margin-right: 3em;
    }

    &:last-child {
      margin-left: 3em;
    }

    .buttons {
      height: 2.5em;
      display: flex;
      > * {
        margin-right: 1em;
      }
    }
  }

  &.single {
    .block:first-child,
    .block:last-child {
      margin-left: 0;
      margin-right: 0;
    }
  }

  p {
    margin: 1em 0;
  }

  .button {
    margin: 0.5em 0 0 0;
  }

  @media (min-width: $tablet) {
    position: relative;

    .blocks-container {
      display: flex;
      max-width: 95em;
      margin: 0 auto;
      align-items: flex-start;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      z-index: -1;
    }

    &:before {
      top: 0;
      left: 0;
      width: var(--firstX);
      height: var(--firstHeight);
    }

    &:after {
      top: var(--space);
      left: var(--secondX);
      right: 0;
      height: var(--secondHeight);
    }

    .block {
      margin: 0;
      padding-top: calc(var(--space) * 2);
      padding-bottom: var(--space);
      width: 50%;
      box-sizing: border-box;

      &:first-child {
        margin-right: calc(var(--gutter) / 2);
        padding-left: var(--gutter);
        padding-right: var(--gutter);
      }

      &:last-child {
        margin-top: var(--space);
        margin-left: calc(var(--gutter) / 2);
        padding-left: var(--gutter);
        padding-right: var(--gutter);
      }
    }

    &.single {
      &:before {
        display: none;
      }

      .blocks-container {
        justify-content: flex-end;
      }

      .block:first-child {
        padding-right: var(--gutter);
      }
    }
  }

  @media (min-width: $desktop) {
    .block {
      &:first-child {
        padding-right: calc(var(--space) + var(--gutter));
      }
      &:last-child {
        padding-left: calc(var(--space) + var(--gutter));
      }
    }
  }
}

.block-title {
  font-size: 4em;
  line-height: 1em;
  border-bottom: 1px solid #000;
  font-weight: normal;
  padding-bottom: 0.2em;

  strong {
    display: block;
    font-weight: bold;
    font-style: italic;
  }

  @media (min-width: $tablet) {
    font-size: 6em;
  }
}

.button {
  display: inline-block;
  border: 2px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding: 1em 3em;
  font-size: 1.6em;
  font-weight: bold;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #000;
    z-index: 0;
    transition: width 0.2s;
  }

  &:hover:before {
    width: 100%;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &.price span {
    font-family: 'Times New Roman', Times, serif;
  }

  &.gold {
    color: #c1bca7;
    border-color: #c1bca7;

    &:hover {
      border-color: #c1bca7;
      color: #fff;
    }
    &:before {
      background-color: #c1bca7;
    }
  }

  &.silver {
    color: #8c8c8c;
    border-color: #8c8c8c;
    &:hover {
      color: #fff;
    }
    &:before {
      background-color: #8c8c8c;
    }
  }

  &[disabled] {
    border-color: var(--secondary);
    color: var(--secondary);
    &:before {
      display: none;
    }
  }
}

.fundacion {
  text-align: center;
  margin-top: calc(var(--space) * 2);

  p {
    margin-bottom: 0.5em;
  }

  img {
    width: 16.5em;
  }
}

@media (min-width: $tablet) {
  .form-container {
    max-width: 95em;
    margin: 0 auto;
    padding: 0 var(--gutter);
  }
}

.form {
  background-color: #fff;
  padding: var(--gutter);

  ::placeholder {
    color: var(--secondary);
  }

  h1 {
    margin-bottom: 1em;
    display: inline-block;
    padding-right: var(--space);
  }

  .intro {
    margin-bottom: var(--gutter);
  }

  .field {
    padding: 1em;
    width: calc(100% + 2em);
    margin-left: -1em;
    box-sizing: border-box;

    .message {
      margin: 0.5em 0 0 0;
      display: none;
    }

    &.error {
      background-color: transparentize($color: #d01900, $amount: 0.9);
      color: var(--error);

      p {
        display: block;
      }
    }
  }

  .tos {
    margin-top: 1em;
    font-size: 1.6em;
  }

  input,
  textarea,
  .file-upload {
    font-size: 2em;
    font-weight: bold;
    padding: 0.75em 1em;
    appearance: none;
    background-color: #fff;
    border: 1px solid var(--secondary);
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }

  .files .file-upload:first-child {
    margin-bottom: 1em;
  }

  .button {
    font-size: 1.8em;
    margin-top: 0.5em;
  }

  p.error {
    margin-top: 1em;
    color: var(--error);
  }

  .file-upload {
    position: relative;

    p {
      display: block;
      font-size: 1em;
      color: var(--secondary);
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
    }

    .preview {
      height: 10em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }

    .button {
      font-size: 1em;
      text-transform: none;
      border-width: 1px;
      padding: 0.4em;
      width: 100%;
      background-color: var(--secondary-light);
    }

    &:hover .button {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  @media (min-width: $tablet) {
    padding: calc(var(--space) + var(--gutter) * 2);

    .fieldset {
      position: relative;
    }

    .field {
      padding-right: 21em;
      position: relative;

      .message {
        width: 9em;
        position: absolute;
        right: 0.5em;
        top: 0.2em;
        line-height: 1.2em;
      }
    }

    .submit {
      position: absolute;
      right: 0;
      bottom: 0.6em;
      width: 10em;
    }
  }

  @media (min-width: $desktop) {
    .files {
      display: flex;
      justify-content: space-between;

      .file-upload {
        width: calc(50% - 0.5em);
        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.form-simple {
  padding: 0;
  background-color: transparent;

  .field {
    width: 100%;
    padding: 0;
    margin: 0 0 calc(var(--gutter) / 2) 0;
  }

  .button {
    font-size: 1.6em;
  }
}

.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  &.vertical {
    padding-bottom: 134%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
