@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/subset-CormorantGaramond-Light.woff2') format('woff2'), url('fonts/subset-CormorantGaramond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/subset-CormorantGaramond-BoldItalic.woff2') format('woff2'), url('fonts/subset-CormorantGaramond-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/subset-CormorantGaramond-Regular.woff2') format('woff2'), url('fonts/subset-CormorantGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/subset-CormorantGaramond-Bold.woff2') format('woff2'), url('fonts/subset-CormorantGaramond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
