:root {
  --bg: #f3f2ed;
  --secondary: #c1bca7;
  --secondary-light: #f3f2ed;
  --error: #d01900;
  --space: 34px;
  --gutter: 30px;
}

@media (min-width: $tablet) {
  :root {
    --space: 68px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cormorant Garamond';
  list-style: none;
  border: 0 none;
  background-color: transparent;
}

strong {
  font-weight: bold;
}

body {
  background-color: var(--bg);
  font-size: 62.5%;
  font-weight: 300;
}

.container {
  max-width: 95em;
  margin: 0 auto;
  padding: 0 var(--gutter);

  .small-container {
    padding: 0;
  }
}

.small-container {
  max-width: 75em;
  padding: 0 var(--gutter);
  margin: 0 auto;

  + .small-container {
    margin-top: var(--space);
  }
}

.header {
  margin-top: var(--gutter);

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    max-width: calc(100% - 3em);
  }

  .toggle-menu {
    display: block;
    padding: 0;

    img {
      width: 3em;
      display: block;
    }
  }

  @media (min-width: $tablet) {
    .top {
      padding: 0 2em;
    }

    .toggle-menu {
      display: none;
    }
  }
}

.menu {
  margin-top: 2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;

  &.visible {
    max-height: 37em;
  }

  ul {
    border: 1px solid #000;
  }

  a {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #000;
    padding: 1.5em;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background-color: #fff;
      z-index: -1;
      transition: width 0.2s;
    }

    &:hover:before,
    &.active:before {
      width: 100%;
    }
  }

  li:last-child a {
    border: 0 none;
  }

  @media (min-width: $tablet) {
    max-height: none;

    ul {
      display: flex;
    }

    li {
      flex-grow: 1;
    }

    a {
      border-right: 1px solid #000;
      border-bottom: 0 none;
      text-align: center;
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
  }
}

.footer {
  border-top: 1px solid #000;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  text-align: center;

  a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 0;
    position: relative;
  }

  p {
    font-size: 1.4em;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;

    a {
      margin: 0 0.25em;
    }
  }

  .links {
    a {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -0.5em;
        top: 0.2em;
        bottom: 0.2em;
        width: 0;
        background-color: #fff;
        z-index: -1;
        transition: width 0.2s;
      }

      &:hover:before {
        width: calc(100% + 1em);
      }
    }
  }

  .logos {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
    }

    .vane {
      height: 1.5em;
      margin-left: 0.5em;
    }

    .divino {
      height: 1.2em;
      margin-right: 0.5em;
    }
  }

  .copy {
    text-size-adjust: none;
  }

  @media (min-width: $mobile) {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding-top: 6em;
    padding-bottom: 6em;

    .social {
      order: 1;
      margin: 0;
      flex-grow: 1;
      justify-content: flex-start;
    }

    .links {
      order: 2;
    }

    .copy {
      order: 3;
      margin-left: 4em;
    }

    .logos {
      justify-content: flex-start;
    }

    a {
      padding: 0.25em 0;
    }
  }
}

.main {
  padding: var(--gutter) 0 calc(var(--space) * 1.5) 0;

  @media (min-width: $tablet) {
    padding-top: calc(var(--space) * 1.5);
    padding-bottom: var(--space);
  }
}

p {
  font-size: 2em;
  line-height: 1.4em;

  + p {
    margin-top: 1em;
  }

  + .button {
    margin-top: 4em;
  }
}
