.listing {
  li {
    margin-bottom: var(--space);
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
  }

  img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  .info {
    background-color: #fff;
    padding: calc(var(--space) + 2.5em) var(--gutter) var(--space) 2.5em;
    box-sizing: border-box;
    width: calc(100% + var(--gutter));
    margin-top: calc(var(--space) * -1);
  }

  p {
    margin: 0;
    line-height: 1.2em;
    word-break: break-word;
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 0.25em;
  }

  .author {
    font-weight: bold;
    font-style: italic;
  }

  .number {
    font-size: 1.4em;
    margin-top: 1em;
  }

  .link {
    margin-top: 2em;
    img {
      height: 0.75em;
      width: auto;
      display: inline-block;
      margin: 0 0.5em 0 0;
    }
  }

  &.sponsors .image {
    border: 2px solid #000;
    background-color: var(--bg);
  }

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--gutter);

    a {
      display: flex;
      flex-direction: column;
    }

    .info {
      margin-left: var(--space);
      width: calc(100% + var(--gutter) - var(--space));
      flex-grow: 1;
    }
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    margin-left: calc(var(--gutter) + var(--space));
  }
}

.obra {
  h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1em;
  }

  .info {
    margin-bottom: var(--space);
  }

  .nav {
    display: none;
  }

  .image {
    img {
      width: 100%;
      display: block;
      margin-bottom: var(--space);
    }
  }

  .author {
    background-color: #fff;
    padding: var(--space) 0 var(--space) var(--gutter);
    margin-top: var(--space);
    width: calc(100% + var(--gutter));
    box-sizing: border-box;

    .video {
      width: 100%;
      margin: 0 0 var(--space) 0;
      display: block;
    }

    .nombre {
      font-size: 3em;
      font-weight: bold;
      font-style: italic;
      line-height: 1em;
      margin-bottom: var(--space);
    }

    .social {
      margin: 0;

      a {
        color: inherit;
        text-decoration: none;

        span {
          position: relative;
          z-index: 1;
          transition: color 0.2s;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: -0.1em;
            top: 0.2em;
            bottom: 0.1em;
            width: 0;
            background-color: #000;
            z-index: -1;
            transition: width 0.2s;
          }
        }

        &:hover span {
          color: #fff;
          &:before {
            width: calc(100% + 0.2em);
          }
        }
      }

      img {
        vertical-align: middle;
      }
    }
  }

  .buy {
    margin: calc(var(--space) * 2) 0;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 1.8em;
      text-transform: uppercase;
      position: relative;

      &:before {
        height: 2px;
        bottom: 0.2em;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: #000;
        content: '';
        z-index: -1;
      }

      span {
        display: inline-block;
        background-color: var(--bg);
        padding: 0 var(--gutter);
      }
    }

    p {
      margin-top: 2em;
    }

    .buttons {
      margin-top: var(--gutter);
      text-align: center;

      li {
        margin: var(--gutter) 0 0 0;
      }
    }

    .form {
      margin-top: 2em;
    }
  }

  .back {
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -0.5em;
        top: 0.2em;
        bottom: 0.2em;
        width: 0;
        background-color: #fff;
        z-index: -1;
        transition: width 0.2s;
      }

      &:hover:before {
        width: calc(100% + 1em);
      }
    }
  }

  @media (min-width: $mobile) {
    h1,
    .author .nombre {
      font-size: 4.6em;
    }
  }

  @media (min-width: $tablet) {
    text-align: center;

    h1,
    .author .nombre {
      font-size: 7.6em;
      text-align: left;
    }

    .info {
      display: flex;
      text-align: left;
    }

    .image {
      width: 60%;
      flex-shrink: 0;
      flex-grow: 0;

      .description {
        padding-right: calc(var(--space) * 2);
      }
    }

    .author {
      position: relative;
      padding-top: calc(var(--space) * 2);

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: calc(var(--space) * -1);
        width: var(--space);
        height: 100%;
        content: '';
        background-color: #fff;
        z-index: -1;
      }

      &:after {
        left: auto;
        right: calc(var(--margin) * -1);
        width: var(--margin);
      }
    }

    .buy {
      display: inline-block;
      margin-bottom: var(--space);

      .buttons {
        display: flex;
        justify-content: center;

        li {
          margin-left: calc(var(--gutter) / 2);
          margin-right: calc(var(--gutter) / 2);

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .back {
      text-align: left;
      margin-bottom: var(--space);
    }
  }

  @media (min-width: $xl) {
    .nav {
      display: block;
      position: absolute;
      left: 0;
      top: var(--image-center);
      width: 100%;
      box-sizing: border-box;
      padding: 0 var(--gutter);
      z-index: 5;

      a {
        width: 1.4em;
        height: 2.4em;
        display: block;
        text-indent: -9999em;
        background-image: url(/images/prev.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;

        &.next {
          transform: rotate(180deg);
          float: right;
        }
      }
    }
  }
}

.comprar {
  text-align: left;

  h1 {
    margin-bottom: 0;
    margin-top: 0.25em;
  }

  .author-name {
    font-weight: bold;
    font-style: italic;
    font-size: 3em;

    + p {
      margin-top: 0;
    }
  }

  .price {
    font-size: 3em;
    margin-top: 0;
    position: relative;
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      margin-top: 0.4em;
      left: 0;
      width: 100%;
      height: 0.8em;
      background-color: #fff;
      z-index: -1;
      transition: width 0.5s;
    }
  }

  a {
    color: inherit;
    background-color: #fff;
    text-decoration: none;
    padding: 0 0.25em;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  .buy {
    margin: var(--gutter) auto;
  }

  .tos {
    margin-top: 1em;
    font-size: 1.6em;
  }

  .steps {
    margin: var(--space) 0;
    text-align: left;
    max-width: 80em;

    li {
      list-style-type: decimal;
      font-size: 2em;
      line-height: 1.4em;

      + li {
        margin-top: calc(var(--gutter) / 2);
      }
    }
  }

  .prices {
    text-align: center;
    margin-bottom: var(--space);
  }

  .buy {
    max-width: 67em;
    width: 100%;
    .buttons {
      margin-top: 0;

      li {
        margin: calc(var(--gutter) / 2) 0;
      }

      .button {
        width: 100%;
        margin: 0;
      }
    }
  }

  .transfer {
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    max-width: 45em;
    margin: var(--gutter) auto;
    padding: 0.25em 0 0.5em 0;

    li {
      padding: 0.5em 1em;
      border-bottom: 1px dotted #eaeaea;
      line-height: 1.1em;
      font-size: 2em;
      list-style-position: inside;

      &:last-child {
        border-bottom: 0;
      }

      + li {
        margin: 0;
      }
    }

    strong {
      display: block;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }

  @media (min-width: $mobile) {
    .author-name,
    .price {
      font-size: 4.6em;
    }
  }

  @media (min-width: $tablet) {
    .buy .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: calc(var(--gutter) / 2);

      li {
        margin: 0;
      }
    }
  }

  @media (min-width: $desktop) {
    .author-name,
    .price {
      font-size: 7.6em;
    }
  }
}
